<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>apiList</title>
</head>

<body>
    {{!-- <script>
        const url = new URL(window.location.href);
        const params = new URLSearchParams(url.search);
        const idDoctor = params.get('id')
        console.log("id doctor is"+idDoctor)
        console.log("ahmed")
        fetch("http://localhost:3000/Doctor/apiList", {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ idDoctor: idDoctor})
        }).then((res) => res.json())
        .then((data)=>{
            console.log(data)
        })
    </script> --}}

</body>

</html>