

<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
     <link rel="shortcut icon" href="/images/OIP.jpg" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Information Form</title>
    <link rel="stylesheet" href="/css/Information.css">
</head>
<body>
    <h2 style="text-align: center; margin-top: 100px; color: white; font-size: 40px; text-shadow: 0 5px  5px gray;">INFORMATION Of Model Questions</h2>
    <div class="form-container">
        <form>
            <input class="input1" type="text" placeholder="Enter the Department" required>
            <input class="input2" type="text" placeholder="Enter the Course Name" required>
            <input class="input3" type="text" placeholder="Enter the Course Code" required>
            <input class="input4"  type="text" placeholder="Enter the Course Level" required>
            <input class="input5" type="text" placeholder="Enter the Semester" required>
            <input class="input6" type="text" placeholder="Enter the Instructor Name" required>
            <input class="input7" type="date" placeholder="mm/dd/yyyy" required>
            <input class="input8" type="text" placeholder="Enter the Time" required>
    
            <input class="input9" type="number" placeholder="Enter the Full Mark" required>
            <input class="input10" type="text" placeholder="Final or Midterm?" required>
            <input class="input11" type="number" placeholder="Enter the Total Number Of Questions" required>
            <input type="text" value="The Number of question of one coulmn is 30" readonly>
            <button class="send" type="button" >ADD Information</button>
        </form>
    </div>
    <script src="/Script/doctorWorks/informationModel.js"></script>
</body>
</html>