

<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <link rel="shortcut icon" href="/images/OIP.jpg" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Model of Question</title>
     <link rel="stylesheet" href="/css/NewModelQuestion.css" />
</head>
<body>
    <main class="container">
        <div class="content-section">
            <h1 class="title">
                Welcome to the New<br>
                Model of <span class="highlight">Questions</span>
            </h1>
            
            <p class="description">
                Discover an innovative way to create, manage,<br>
                and answer questions effortlessly. Our platform<br>
                brings simplicity to the exam creation<br>
                process. Get started now and experience the<br>
                future of assessment!
            </p>

            <button class="get-started button">get-started</button>
        </div>

        <div class="image-section">
            <img src="/images/bubble.png" alt="Pencil marking on exam paper" class="main-image">
            
            <div class="info-card">
                <p class="card-title">Simplify Exams with Confidence!</p>
                <p class="card-text">Easily create, manage, and correct questions and answers, all in one place.</p>
            </div>
        </div>
    </main>
    <script src="/Script/doctorWorks/StartingNewModel.js"></script>
</body>
</html>