

<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lists</title>
    <link rel="shortcut icon" href="/images/OIP.jpg" type="image/x-icon">
    <link rel="stylesheet" href="/css/AddnewList.css">
</head>

<body>
    <section>
        <img src="/Images/9fdf8691177f9ea1929a19fd25954663.jpg" alt="img">
        <div class="content">
            <h2>ADD New <span>List</span></h2>
            <button class="btn1" onclick="window.location.href='http://localhost:3000/Admine/Doctor/monthlist';">Add New
                List</button>
            <button class="btn2" onclick="window.location.href='http://localhost:3000/Admine/Doctor/AllList';">Show All
                Lists</button>
        </div>


    </section>
</body>

</html>