<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/images/OIP.jpg" type="image/x-icon">
    <link rel="stylesheet" href="/css/createBubblesheet.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Add Documents of  Bubble Sheet</title>
    <style>
       .btn-done {
            background-color: #0a648d; /* اللون السميماوي */
            color: white;
            width: 200px;
            margin-left: 45%;
            border: none;
            border-radius: 25px;
            padding: 0.5rem 2rem;
            font-size: 16px;
            transition: background-color 0.3s ease, transform 0.3s ease;
        }

        .btn-done:hover {
           
            transform: scale(1.05);
        }

        .btn-done:focus {
            box-shadow: 0 0 8px rgba(59, 155, 141, 0.6); /* تأثير التركيز */
        }
    </style>
    
    
  </head>
  <body>
    <div>
      <form>
        <label>Add Documents of  Bubble Sheet</label>
        <input type="text" placeholder="Enter the Department" class="input1"/>
        <input type="text" placeholder="Enter the Course Name" class="input2"/>
        <input type="text" placeholder="Enter the Course Code" class="input3"/>
        <input type="text" placeholder="Enter the Course Level" class="input4"/>
        <input type="text" placeholder="Enter the Semester" class="input5"/>
        <input type="text" placeholder="Enter the Instructor Name" class="input6"/>
        <input type="date" placeholder="mm/dd/yyyy" class="input7"/>
        <input type="text" placeholder="Enter the Time" class="input8"/>
        <input type="number" placeholder="Enter the Full Mark" class="input9"/>
        <input type="text" placeholder="Final or Midterm" class="input10"/>
        <input type="number" max="90" min="1" placeholder="Number of Questions" class="input11"/>
         <input type="text" min="1" max="30" value="The Number of Questions of Columns is 30" class="form-control input12" placeholder="Enter The Number of Questions of Columns" readonly />
        <button class="btn btn-done">Done</button>
      </form>
    </div>
     <script src="/Script/DocumentBubbleSheet.js"></script>
  </body>
</html>
